<template>
  <div class="container rounded">
    <div class="row justify-content-center my-5">
      <div class="col-md-6">
        <div class="card border-0 shadow-sm rounded">
          <div class="card-body">
            <form @submit.prevent="submitLogin">
              <div class="text-center mb-4">
                <h2 class="fw-bold text-white mb-3">Inicia sesión</h2>
                <img src="/images/logo.svg" alt="Logo" class="img-fluid rounded-circle">
              </div>
              <!-- Email -->
              <div class="mb-3">
                <label for="email" class="form-label">{{ $t('email') }}</label>
                <input v-model="loginForm.email" id="email" type="email" class="form-control" required autofocus
                  autocomplete="username">
                <!-- Validation Errors -->
                <div class="text-danger mt-1">
                  <div v-for="message in validationErrors?.email">
                    {{ message }}
                  </div>
                </div>
              </div>
              <!-- Password -->
              <div class="mb-4">
                <label for="password" class="form-label">
                  {{ $t('password') }}
                </label>
                <input v-model="loginForm.password" id="password" type="password" class="form-control" required
                  autocomplete="current-password">
                <!-- Validation Errors -->
                <div class="text-danger-600 mt-1">
                  <div v-for="message in validationErrors?.password">
                    {{ message }}
                  </div>
                </div>
              </div>
              <!-- Buttons -->
              <div class="d-grid gap-2">
                <button class="btn btn-purple fw-bold" :class="{ 'opacity-25': processing }" :disabled="processing">
                  {{ $t('login') }}
                </button>
                <router-link :to="{ name: 'explorarInvitado.index' }" class="btn btn-secondary">
                  Iniciar como invitado
                </router-link>
                <div class="text-center mt-3">
                  <router-link :to="{ name: 'auth.register' }" class="to-register">¿No tienes cuenta? Regístrate
                    fácilmente aquí</router-link>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import useAuth from '@/composables/auth'
const { loginForm, validationErrors, processing, submitLogin } = useAuth();
</script>

<style scoped>
.btn-secondary {
  background-color: transparent;
  border: 1px solid #a652f5;
  color: #a652f5;
}

.btn-secondary:hover {
  background-color: #a652f5;
  color: white;
}

.btn-purple {
  background-color: #a652f5;
}

img {
  width: 180px;
}

.to-register {
  color: white;
  text-align: left;
}

.to-register:hover {
  color: blue;
}
</style>
