<template>
    <div class="container-admin">
        <div class="seccion-admin-principal">
            <h2 class="titulo-panel">Panel de Administrador</h2>
            <div class="row">
                <div class="col-md-6">
                    <router-link :to="{ name: 'panel.createPubli' }" class="boton-principal-admin mb-3">
                        <i class="fas fa-plus icon"></i>
                        <span class="text">Crear publicación</span>
                    </router-link>
                    <div class="admin-publis">
                        <table class="table bg-dark text-white">
                            <thead>
                                <tr>
                                    <th class="texto-admin">ID Publicacion</th>
                                    <th class="texto-admin">ID Usuario</th>
                                    <th class="texto-admin">Usuario</th>
                                    <th class="texto-admin">Imagen</th>
                                    <th class="texto-admin">Editar</th>
                                    <th class="texto-admin">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(publi, index) in publicaciones" :key="publi.id">
                                    <td>{{ publi.id }}</td>
                                    <td>{{ publi.idUsuario }}</td>
                                    <td>{{ publi.user.name }}</td>
                                    {{ publi.user.media.original_url }}
                                    <td><img :src="publi.imagen" alt="Imagen de la publicación" class="imagen-publicacion" style="width: 60px; height: 80px; margin:10px; object-fit: cover;" /></td>
                                    <td><button class="btn btn-primary" @click="updatePubli(publi.id, index)">Editar</button></td>
                                    <td><button class="btn btn-danger" @click="deletePubli(publi.id, index)">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <router-link :to="{ name: 'panel.createUser' }" class="boton-principal-admin mb-3">
                        <i class="fas fa-plus icon"></i>
                        <span class="text">Crear Usuario</span>
                    </router-link>
                    <div class="admin-users">
                        <table class="table bg-dark text-white">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Rol</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(user, index) in users" :key="user.id">
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role }}</td>
                                    <td>
                                        <button class="btn btn-primary" @click="editarUsuario(user)">Editar</button>
                                        <button class="btn btn-danger" @click="eliminarUsuario(user.id, index)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script setup>

import { ref, onMounted, computed, inject } from "vue";
import { useStore } from 'vuex';
import { useField } from "vee-validate";



const { value: name } = useField('name', null, { initialValue: '' });
const { value: email } = useField('email', null, { initialValue: '' });
const users = ref({
    name,
    email,
})
const publicaciones = ref();
const usuarios = ref();


const swal = inject('$swal');
const categorias = ref();
//OBTENER EL ID DEL USUARIO
const store = useStore();
const user = computed(() => store.state.auth.user)
const idUsuario = user.value.id;

onMounted(() => {

    axios.get('/api/all-users/')
        .then(response => {
            users.value = response.data;
        })

    axios.get('/api/publicacions')
        .then(response => {
            publicaciones.value = response.data;
        })

    axios.get('/api/categorias')
        .then(response => {
            categorias.value = response.data;
        })
});



// Función para editar un usuario
const editarUsuario = (user) => {
    swal({
        title: 'Editar Usuario',
        html: `<label class="swal2-label">Nombre</label>
               <input id="swal-input-name" class="swal2-input" value="${user.name}">
               <label class="swal2-label">Email</label>
               <input id="swal-input-email" class="swal2-input" value="${user.email}">
               <label class="swal2-label">Rol</label>
               <select id="swal-input-role" class="swal2-input">
                   <option value="user" ${user.role === 'user' ? 'selected' : ''}>User</option>
                   <option value="admin" ${user.role === 'admin' ? 'selected' : ''}>Admin</option>
               </select>`,
        focusConfirm: false,
        preConfirm: () => {
            return {
                name: document.getElementById('swal-input-name').value,
                email: document.getElementById('swal-input-email').value,
                role: document.getElementById('swal-input-role').value,
            }
        }
    }).then(result => {
        if (result.isConfirmed) {
            axios.put(`/api/users/${user.id}`, result.value)
                .then(response => {
                    // Actualizar el usuario en la lista
                    const index = users.value.findIndex(u => u.id === user.id);
                    if (index !== -1) {
                        users.value[index] = response.data;
                    }
                    swal({
                        icon: 'success',
                        title: 'Usuario actualizado correctamente'
                    });
                })
                .catch(error => {
                    swal({
                        icon: 'error',
                        title: 'Error al actualizar usuario'
                    });
                });
        }
    });
}

// Función para eliminar un usuario
const eliminarUsuario = (id, index) => {
    swal({
        title: 'Eliminar Usuario',
        text: '¿Estás seguro de que deseas eliminar este usuario?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sí, eliminar',
        confirmButtonColor: '#ef4444',
        reverseButtons: true
    }).then(result => {
        if (result.isConfirmed) {
            axios.delete(`/api/users/${id}`)
                .then(response => {
                    users.value.splice(index, 1);
                    swal({
                        icon: 'success',
                        title: 'Usuario eliminado correctamente'
                    });
                })
                .catch(error => {
                    swal({
                        icon: 'error',
                        title: 'Error al eliminar usuario'
                    });
                });
        }
    });
}


//FUNCION PARA EDITAR LA PUBLICACION 
const updatePubli = (id, index) => {
    axios.get('/api/productos/' + id)
    .then(response => {
        const productos = response.data;
        swal({
            title: 'Editar publicación',
            html:
            productos.map((producto, i) =>
                '<label class="swal2-label">Categoria<label/>' +
                `<select id="swal-input1-${i}" class="swal2-input">` +
                categorias.value.map(categoria => `<option value="${categoria.id}" ${producto.idCategoria === categoria.id ? 'selected' : ''}>${categoria.nombreCategoria}</option>`).join('') +
                '</select>' +
                '<label class="swal2-label">Nombre Producto<label/>' +
                `<input id="swal-input2-${i}" class="swal2-input" placeholder="Producto" value="${producto.nombreProducto}">` +
                '<label class="swal2-label">Link del Producto<label/>' +
                `<input id="swal-input3-${i}" class="swal2-input" placeholder="Enlace" value="${producto.linkProducto}">` +
                '<label class="swal2-label">Valoración<label/><br>' +
                `<select id="swal-input4-${i}" class="swal2-input">` +
                Array.from({length: 5}, (_, i) => i + 1).map(valor => `<option value="${valor}" ${producto.pivot && producto.pivot.valoracion === valor ? 'selected' : ''}>${valor}</option>`).join('') +
                '</select>'
            ).join(''),
            focusConfirm: false,
            preConfirm: () => {
                return productos.map((_, i) => ({
                    idCategoria: document.getElementById(`swal-input1-${i}`).value,
                    nombreProducto: document.getElementById(`swal-input2-${i}`).value,
                    linkProducto: document.getElementById(`swal-input3-${i}`).value,
                    valoracion: document.getElementById(`swal-input4-${i}`).value,
                    idPublicacion: id 
                }));
            }
        }).then(result => {
            if (result.isConfirmed) {
                const updatedData = {
                    productos: result.value
                };
                updatedData.productos.forEach((producto, i) => {
                    axios.put('/api/productos/update/' + productos[i].id, producto)
                    .then(response => {
                        // Verifica que response.data.data es un objeto y tiene las propiedades que esperas
                        if (response.data.data && typeof response.data.data === 'object') {
                            const newData = response.data.data;

                            // Actualiza solo las propiedades específicas que necesitas
                            if (newData.idCategoria) {
                                publicaciones.value[index].productos[i].idCategoria = newData.idCategoria;
                            }
                            if (newData.nombreProducto) {
                                publicaciones.value[index].productos[i].nombreProducto = newData.nombreProducto;
                            }
                            if (newData.linkProducto) {
                                publicaciones.value[index].productos[i].linkProducto = newData.linkProducto;
                            }
                            if (newData.valoracion) {
                                publicaciones.value[index].productos[i].valoracion = newData.valoracion;
                            }
                            // Añade aquí más propiedades si es necesario

                            // Reasignar todo el objeto para forzar la actualización
                            publicaciones.value = [...publicaciones.value];
                            
                            swal({
                                icon: 'success',
                                title: 'Se han actualizado los datos de la publicacion'
                            });
                        } else {
                            throw new Error('Los datos de la respuesta no tienen la estructura esperada');
                        }
                    }).catch(error => {
                        console.error(error);
                        swal({
                            icon: 'error',
                            title: 'No se ha podido actualizar el producto'
                        });
                    });
                });
            }
        });
    });
};



// FUNCION PARA ELIMINAR LA PUBLICACION
const deletePubli = (id, index) => {
    swal({
        title: 'Quieres eliminar la publicación?',
        text: 'Esta acción no es reversible!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sí, eliminar',
        confirmButtonColor: '#ef4444',
        timer: 20000,
        timerProgressBar: true,
        reverseButtons: true
    })
        .then(result => {
            if (result.isConfirmed) {
                axios.delete('/api/publicacions/' + id)
                    .then(response => {
                        publicaciones.value.splice(index, 1)
                        swal({
                            icon: 'success',
                            title: 'Publicación eliminada correctamente'
                        })
                    }).catch(error => {
                        swal({
                            icon: 'error',
                            title: 'No se ha podido eliminar la publicación'
                        })
                    });
            }
        })
}

</script>

<style src="resources\css\panelAdmin.css"></style>
