<template>
    <div class="card border-0 seccion-editar-perfil">
        <div class="card-header bg-transparent">
            <h5 class="float-start text-white">Perfil</h5>
        </div>
        <div class="card-body">
            <form @submit.prevent="submitForm">
                <div class="mb-3">
                    <label for="name" class="form-label text-white">Nombre</label>
                    <input type="text" v-model="profile.name" class="form-control" id="name">
                    <div class="text-danger mt-1 text-white">
                        {{ errors.name }}
                    </div>
                    <div class="text-danger mt-1 text-white">
                        <div v-for="message in validationErrors?.name">
                            {{ message }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label text-white">Correo electrónico</label>
                    <input type="email" v-model="profile.email" class="form-control" id="email">
                    <div class="text-danger mt-1 text-white">
                        {{ errors.email }}
                    </div>
                    <div class="text-danger mt-1 text-white">
                        <div v-for="message in validationErrors?.email">
                            {{ message }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <h6 class="mt-3 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-down-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                        </svg>
                        Imagen
                    </h6>
                    <DropZone v-model="foto" class="form-control" name="foto" />

                    <div class="text-danger mt-1 text-white">
                        <div v-for="message in validationErrors?.foto">{{ message }}</div>
                    </div>
                </div>

                <div class="mb-3" style="display: flex; justify-content: center;">
                    <button class="btn btn-purple fw-bold" :class="{ 'opacity-25': processing }" :disabled="processing">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script setup>
import DropZone from "@/components/DropZone.vue";
import { onMounted, reactive, watchEffect } from "vue";
import { useForm, useField, defineRule } from "vee-validate";
import { required, min } from "@/validation/rules";
import useProfile from "@/composables/profile";
import axios from "axios";

defineRule("required", required);
defineRule("min", min);

const schema = {
    name: "required|min:3",
    email: "required",
};

const { validate, errors } = useForm({ validationSchema: schema });
const { value: name } = useField("name", null, { initialValue: "" });
const { value: email } = useField("email", null, { initialValue: "" });
const { value: foto } = useField("foto", null, { initialValue: "" });


const { profile: profileData, getProfile, updateProfile, validationErrors, isLoading } = useProfile();

const profile = reactive({
    name,
    email,
});

function submitForm() {
    validate().then((form) => {
        if (form.valid) {
            updateProfile(profile);
            if (foto) { 
                console.log("Subiendo nueva imagen de perfil...");
                uploadImage(foto).then(() => {
                    window.location.reload();
                }).catch((error) => {
                    console.error("Error al subir la imagen de perfil:", error);
                });
            }
        }
    });
}

onMounted(() => {
    getProfile();
});

watchEffect(() => {
    profile.name = profileData.value.name;
    profile.email = profileData.value.email;
});

async function uploadImage(foto) {
    try {
        if (!foto || !foto.value) {
            console.error("No se proporcionó ninguna imagen en el cliente");
            return;
        }

        const formData = new FormData();
        formData.append("foto", foto.value);

        console.log("Imagen recibida en form:", foto.value);
        console.log("Contenido de formData:", formData);
        console.log("Imagen en formData:", formData.get("foto"));

        const response = await axios.post("/api/userFoto", formData, {
            headers: {
                "content-type": "multipart/form-data"
            },
        });

        console.log("Respuesta de la API:", response.data);
        console.log("Imagen de perfil subida con éxito");
    } catch (error) {
        console.error("Error al subir la imagen:", error);
    }
}
</script>

<style src="resources\css\profile.css"></style>
