<template>
    <div class="card border-0 seccionProfile">
        <div v-if="userData" class="card border-0">
            <div class="card-header">
                <div class="d-flex align-items-center w-100">
                    <!-- revisar esto -->
                    <img :src="user.media[0].original_url" alt="Icono de usuario"
                        class="me-3 center rounded-circle img-perfil">
                    <div class="d-flex flex-column justify-content-center ml-3">
                        <h2 class="mb-0">{{ userData.name }}</h2>
                        <p>{{ userData.email }}</p>
                    </div>
                    <div class="d-flex ml-auto">
                        <div class="text-center mx-3">
                            <p class="mb-0 h4">{{ userData.puntos }}</p>
                            <small>Puntos</small>
                        </div>
                        <div class="text-center mx-3">
                            <p class="mb-0 h4">{{ followersCount }}</p>
                            <small>Seguidores</small>
                        </div>
                        <div class="text-center mx-3">
                            <p class="mb-0 h4">{{ followedCount }}</p>
                            <small>Seguidos</small>
                        </div>
                    </div>
                </div>
                <!-- Botón de seguimiento -->
                <div class="d-flex flex-row justify-content-center mt-5">
                    <button :class="[isFollowing ? 'following-btn' : 'follow-btn', 'btn', 'me-5']" @click="toggleFollow"
                        :disabled="followButtonDisabled">{{ followButtonText }}</button>
                    <button class="btn edit-btn" @click="copyToClipboard">
                        <i class="bi bi-link-45deg"></i> Compartir perfil
                    </button>
                </div>
            </div>
            <!-- Publicaciones del usuario -->
            <div class="grid-container">
                <div v-for="(publi, index) in userPublications" :key="publi.id" class="grid-item">
                    <div class="contenedor-imagen">
                        <img :src="publi.imagen" alt="Imagen de la publicación" class="imagen-publicacion"
                            @click="openDialog(publi)" />
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="card border-0">
            <p>El usuario "{{ username }}" no existe.</p>
        </div>
    </div>
    <Dialog v-model:visible="visible" modal :style="{ width: '80rem' }">
        <div v-if="selectedPublication" class="publicacion-entera-dialog">
            <div class="cabecera-publi-dialog row">
                <div class="info-cabecera-dialog col-9">
                    <img :src="selectedPublication.user.media[0].original_url" alt="Icono de usuario"
                        class="foto-user-cabecera-dialog">
                    <div class="d-flex flex-column justify-content-center ml-3">
                        <h2 class="mb-0 nombre-user-publi-principal-dialog">{{ selectedPublication.user.name }}</h2>
                        <p v-if="selectedPublication.dePago" class="text-publi-dialog">Colaboración de pago</p>
                    </div>
                </div>
                <div class="utiles-cabecera-dialog col-3">
                </div>
            </div>
            <div class="cuerpo-publi-dialog row">
                <div class="contenedor-imagen-dialog col-sm-12 col-md-5">
                    <img :src="selectedPublication.imagen" alt="Imagen de la publicación"
                        class="imagen-publicacion-dialog" />
                </div>
                <div class="detalles-publicacion-dialog col-sm-12 col-md-7">
                    <div class="seccion-publi-1-dialog">
                        <div class="desc-1-dialog">
                            <div class="detalles-perfil-dialog">
                                <img :src="selectedPublication.user.media[0].original_url" alt="Icono de usuario"
                                    class="foto-user-dialog me-3 rounded-circle">
                                <p class="nombre-user-publi-dialog">{{ selectedPublication.user.name }}</p>
                            </div>
                            <div v-for="producto in selectedPublication.productos" :key="producto.id">
                                <div class="div-descripcion-publi-dialog">
                                    <div class="text-publi">
                                        <span>{{ getCategoryName(producto.idCategoria) }} - {{ producto.nombreProducto
                                            }}</span>
                                        <Rating class="rating-row" v-model="producto.pivot.valoracion" :cancel="false"
                                            readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="acciones-1-dialog">
                            <div class="acciones-publi-dialog">
                                <div @click="darMegusta(selectedPublication.id)"
                                    class="acciones-div-dialog heart-container" title="Like">
                                    <input type="checkbox" class="checkbox" id="Give-It-An-Id"
                                        :checked="haDadoMegusta(selectedPublication)">
                                    <div class="svg-container">
                                        <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="acciones-div-dialog responsiveComment" @click="() => focusInput(index)">
                                    <img src="/images/chat.svg" alt="Icono de comentario">
                                </div>
                                <div class="acciones-div-dialog" @click="detallesPubli(selectedPublication)">
                                    <img src="/images/link.svg" alt="Icono de link">
                                </div>
                            </div>
                            <p class="text-like-dialog"><b>{{ selectedPublication.megusta.length }}</b> Me gustas</p>
                        </div>
                    </div>
                    <div class="seccion-publi-2-dialog">
                        <div class="titulo-comentarios-dialog">
                            <p class="texto-titulo-comentarios-dialog">Comentarios</p>
                        </div>
                        <div class="comentarios-zona-dialog">
                            <div v-for="comentario in selectedPublication.comentarios" :key="comentario.id">
                                <div class="detalles-user-2-dialog">
                                    <img :src="comentario.usuario.media[0].original_url" alt="Icono de usuario"
                                        class="foto-user-dialog me-3 rounded-circle">
                                    <p class="nombre-user-dialog">{{ comentario.usuario.name }}</p>
                                </div>
                                <p class="text-publi-comentarios-dialog">{{ comentario.comentario }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="seccion-publi-3-dialog">
                        <div class="escribir-comentario-dialog">
                            <div class="input-wrapper">
                                <input :ref="el => (inputComentario[index] = el)" class="input-box" type="text"
                                    v-model="nuevoComentario" placeholder="Escribe tu comentario..."
                                    @keyup.enter="publicarComentario(selectedPublication.id)">
                                <span class="underline"></span>
                            </div>
                            <div class="zona-boton-publi-dialog">
                                <button id="publicar" @click="publicarComentario(selectedPublication.id)">
                                    <div class="svg-wrapper-1">
                                        <div class="svg-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24">
                                                <path fill="none" d="M0 0h24v24H0z"></path>
                                                <path fill="currentColor"
                                                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <span>Publicar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Dialog>
</template>

<script setup>
import { useRouter } from "vue-router";
import axios from "axios";
import Swal from 'sweetalert2';
import { useStore } from 'vuex';
import { ref, onMounted, reactive, watchEffect, computed, inject } from "vue";
import { useForm, useField, defineRule } from "vee-validate";
import { required, min } from "@/validation/rules"
import useUsers from "@/composables/users";
defineRule('required', required)
defineRule('min', min);

const router = useRouter();
const username = router.currentRoute.value.params.username;
const userImage = "/images/userDefecto.png";
const allPublications = reactive([]);
const userData = ref(null);
const userPublications = ref([]);
const followButtonText = ref("Seguir");
const isFollowing = ref(false);
const followButtonDisabled = ref(false);
const followersCount = ref(0);
const followedCount = ref(0);
// user
const store = useStore();
const user = computed(() => store.state.auth.user)
const idUsuario = user.value.id;

// dialog
const visible = ref(false);
let selectedPublication = ref(null);
let inputComentario = ref([]);
const nuevoComentario = ref('');


const { value: name } = useField('name', null, { initialValue: '' });
const { value: email } = useField('email', null, { initialValue: '' });

const clicsUsuario = ref([]);
const categorias = ref([]);
const swal = inject('$swal');



onMounted(async () => {
    try {
        // Obtener el usuario actual
        const currentUserResponse = await axios.get("/api/current-user");
        const currentUser = currentUserResponse.data;

        // Si el usuario actual coincide con el usuario del perfil,
        // redirigir a la página de índice del perfil
        if (currentUser.username === username) {
            router.push({ name: 'profile.index' });
            return;
        }

        // Si el usuario actual no coincide con el usuario del perfil,
        // continuar con la lógica para cargar los datos del perfil
        const userResponse = await axios.get(`/api/profile/${username}`);
        userData.value = userResponse.data;

        // Obtener el estado de seguimiento del usuario actual al perfil
        const isFollowingResponse = await axios.get(`/api/is-following/${username}`);
        isFollowing.value = isFollowingResponse.data.isFollowing;

        // Actualizar el estado del botón
        followButtonText.value = isFollowing.value ? "Siguiendo" : "Seguir";

        // Obtener publicaciones del usuario
        const publicationsResponse = await axios.get("/api/publicacions");
        userPublications.value = publicationsResponse.data.filter(publi => publi.idUsuario === userData.value.id);
        } catch (error) {
            console.error(error);
            userData.value = null;
        }
        const followersResponse = await axios.get(`/api/followers-count/${username}`);
        followersCount.value = followersResponse.data;

        const followedResponse = await axios.get(`/api/followed-count/${username}`);
        followedCount.value = followedResponse.data;

        axios.get('/api/publicacions')
        .then(response => {
            allPublications.value = response.data.reverse();
        })

        axios.get('/api/categorias')
        .then(response => {
            categorias.value = response.data;
        })
        axios.get(`/api/clics/${idUsuario}`)
        .then(response => {
            clicsUsuario.value = response.data.data;
        })
});

async function toggleFollow() {
    try {
        if (!isFollowing.value) {
            await axios.post(`/api/follow/${username}`);
            isFollowing.value = true;
            followButtonText.value = "Siguiendo";
        } else {
            const result = await Swal.fire({
                title: '¿Estás seguro?',
                text: `¿Quieres dejar de seguir a ${username}?`,
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sí, dejar de seguir',
                cancelButtonText: 'Cancelar'
            });

            if (result.isConfirmed) {
                await axios.post(`/api/unfollow/${username}`);
                isFollowing.value = false;
                followButtonText.value = "Seguir";
            }
        }

        // Actualizar los conteos de seguidores y seguidos
        const followersResponse = await axios.get(`/api/followers-count/${username}`);
        followersCount.value = followersResponse.data;

        const followedResponse = await axios.get(`/api/followed-count/${username}`);
        followedCount.value = followedResponse.data;
    } catch (error) {
        console.error(error);
    }
}



async function copyToClipboard() {
    try {
        await navigator.clipboard.writeText('http://127.0.0.1:8000/profile/' + username);
        Swal.fire({
            icon: 'success',
            title: '¡Enlace copiado!',
            showConfirmButton: false,
            timer: 1500
        });
    } catch (err) {
        console.error('Error al copiar el enlace al portapapeles:', err);
    }
}

// funcion para al dar clic en la imagen se abra el dialog
function openDialog(publi) {
    selectedPublication.value = publi;
    visible.value = true;
}

// FUNCION PARA OBTENER EL NOMBRE DE LA CATEGORIA SEGUN EL ID
function getCategoryName(id) {
    if (categorias.value) {
        const category = categorias.value.find(categoria => categoria.id === id);
        return category ? category.nombreCategoria : '';
    }
    return '';
}

// FUNCIÓN QUE COMPRUEBA SI EL USUARIO YA HA DADO LIKE A LA PUBLICACIÓN
function haDadoMegusta(publi) {
    return publi.megusta.some(megusta => megusta.pivot.idUsuario === idUsuario);
}

// FUNCION PARA DAR ME GUSTA A LAS PUBLICACIONES Y CONTROLAR QUE SOLO SE PUEDA 1 POR PUBLICACION
async function darMegusta(idPublicacion) {
    const publi = allPublications.value.find(publicacion => publicacion.id === idPublicacion);
    if (!publi) {
        console.error('No se encontró la publicación con id ' + idPublicacion);
        return;
    }
    const like = selectedPublication.value.megusta.find(megusta => megusta.pivot.idUsuario === idUsuario);
    if (like) {
        const response = await axios.delete(`/api/publicacions/${idPublicacion}/megustas/${idUsuario}`);
        if (response.data.success) {
            const index = publi.megusta.findIndex(megusta => megusta.pivot.idUsuario === idUsuario);
            selectedPublication.value.megusta.splice(index, 1);
        }
    } else {
        const response = await axios.post(`/api/publicacions/${idPublicacion}/megustas/${idUsuario}`);
        if (response.data.success) {
            selectedPublication.value.megusta.push({ pivot: { idUsuario: idUsuario, idPublicacion: idPublicacion } });
        }
    }
}

// FUNCION PARA ESCRIBIR UN COMENTARIO EN LA PUBLICACION
async function publicarComentario(idPublicacion) {
    const comentario = nuevoComentario.value;
    try {
        const response = await axios.post(`/api/publicacions/${idPublicacion}/comentarios/${idUsuario}/${comentario}`);
        if (response.data.success) {
            const publicacion = allPublications.value.find(publi => publi.id === idPublicacion);
            if (publicacion) {
                selectedPublication.value.comentarios.unshift(response.data.data);
            }
            nuevoComentario.value = '';
        }
    } catch (error) {
        console.error('Error al publicar el comentario:', error);
    }
}

// FUNCION IMPLEMENTADA PARA QUE LA DAR CLICK EN EL ICONO DE COMENTARIO SE ACTIVE EL INPUT DE COMENTARIO
function focusInput(index) {
    if (inputComentario.value[index]) {
        inputComentario.value[index].focus();
    }
}

// FUNCION PARA MOSTRAR LOS DETALLES DE LA PUBLICAICON MAS CONTROLAR  QUE SE SUMEN LOS PUNTOS Y SE ALMACENE EL CLIC PARA CONTROLAR QUE NO SE SUMEN MUCHOS PUNTOS
async function detallesPubli(publi) {
    if (publi.clics.length === 0) {
        await axios.post('/api/clics', {
            idUsuario: idUsuario,
            idPublicacion: publi.id
        });
    }

    let productDetails = '';
    for (let producto of publi.productos) {
        productDetails += `<strong>Nombre del producto:</strong> ${producto.nombreProducto}<br>`;
        productDetails += `<strong>Link del producto:</strong> <a href="${producto.linkProducto}">${producto.linkProducto}</a><br><br>`;
    }

    await swal({
        title: 'Detalles publicación',
        html: productDetails,
    });
}

</script>

<style src="resources\css\profile.css"></style>
