.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 5rem 2rem 4rem 2rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
