* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}

.card.border-0 {
    background-color: #171717;
    border: none; 
    color: white; 
    border-radius: 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.card-header,
.card-header h2,
.card-header p,
.card-header small,
.grid-item {
    color: white;
}

.edit-btn {
    background-color: #000000;
    color: white; 
}



