.text{
    color:#FFFF;
}
.layout-topbar {
    position: fixed;
    height: 5rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: rgb(18, 18, 18);
    transition: left $transitionDuration;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);
    color: white;
    /* Letras blancas */
}

.layout-topbar-logo {
    display: flex;
    align-items: center;
    color: var(--surface-900);
    /* No se cambia */
    font-size: 1.5rem;
    font-weight: 500;
    width: 300px;
    border-radius: 12px;

    img {
        height: 2.5rem;
        margin-right: .5rem;
    }

    &:focus {
        @include focused();
    }
}

.layout-topbar-button {
    background-color: rgb(18, 18, 18);
    color: white;
    font-size: 0.8em;
    height: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover {
        color: #FFFF;
    }

    &:focus {
        @include focused();
    }

    i {
        font-size: 2rem;
    }

    span {
        font-size: 1rem;
        display: block;
    }
}

.layout-topbar-button-menu-right {
    margin-left: auto;
}

.layout-topbar-button-menu {
    background-color: rgb(18, 18, 18);
    color: white;
    font-size: 0.8em;
    height: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    padding: 10px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10%;
    height: 150%;
    cursor: pointer;

    &:hover {
        color: #9747FF;
        background-color: rgba(255, 255, 255, 0.04);;
    }

    &:focus {
        @include focused();
    }

    i {
        font-size: 2rem;
    }

    span {
        font-size: 1rem;
        display: block;
    }
}

.layout-topbar-button-menu.router-link-exact-active {
    border-bottom: 5px solid #9747FF;
    color: #9747FF;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}


.icon {
    color: white !important;
}





.layout-menu-button {
    margin-left: 2rem;
}

.layout-topbar-menu-button {
    display: none;

    i {
        font-size: 1.25rem;
    }
}

.layout-topbar-menu {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;

    .layout-topbar-button {
        margin-left: 1rem;
    }
}

.navbar,
.custom-btn {
    background-color: black !important;
    color: white !important;
}

.navbar-brand,
.navbar-toggler,
.navbar-toggler-icon,
.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
    color: white !important;
}


.vertical-line {
    border-left: 1px solid white !important;
}

.navbar-nav .dropdown-menu {
    background-color: white !important;
}

.dropdown-item {
    color: black !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #808080 !important;
    color: black !important;
}

.vertical-line {
    border-left: 1px solid white;
    height: 70%;
    margin: 0 20px;
    /* Espaciado externo */
}

.layout-topbar-button-c,
.layout-topbar-button-c:hover {
    width: auto;
    background-color: rgb(255, 255, 255, 0);
    border: 0;
    border-radius: 0%;
    padding: 1em;
}

.layout-topbar-menu {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    background-color: black;
    /* Cambio de color de fondo */
    border-radius: 12px;
    /* Añadir bordes redondeados */
}

.dropdown-menu {
    background-color: black !important;
    /* Cambio de color de fondo */
}

.dropdown-item {
    color: white !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: black !important;
    /* Cambio a negro al hacer hover */
    color: #808080 !important;
    /* Cambio a gris el color de letra al hacer hover */
}

@media (max-width: 991px) {
    .layout-topbar {
        justify-content: space-between;

        .layout-topbar-logo {
            width: auto;
            order: 2;
        }

        .layout-menu-button {
            margin-left: 0;
            order: 1;
        }

        .layout-topbar-menu-button {
            display: inline-flex;
            margin-left: 0;
            order: 3;
        }

        .layout-topbar-menu {
            margin-left: 0;
            position: absolute;
            flex-direction: column;
            background-color: var(--surface-overlay);
            box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);
            border-radius: 12px;
            padding: 1rem;
            right: 2rem;
            top: 5rem;
            min-width: 15rem;
            display: none;
            -webkit-animation: scalein 0.15s linear;
            animation: scalein 0.15s linear;

            &.layout-topbar-menu-mobile-active {
                display: block
            }

            .layout-topbar-button {
                margin-left: 0;
                display: flex;
                width: 100%;
                height: auto;
                justify-content: flex-start;
                border-radius: 12px;
                padding: 1rem;

                i {
                    font-size: 1rem;
                    margin-right: .5rem;
                }

                span {
                    font-weight: medium;
                    display: block;
                }
            }
        }
    }
}