/* POSICIONAMIENTO */


/*  */
p.paso-numero {
  color: white !important;
  margin: 0px;
  padding: 10px;
}

p.paso-numero-1 {
  color: white !important;
  margin: 0px;
  padding: 10px 0px 0px 100px;
}

.texto-info-crear {
    color: white;
  }
  
  /* BOTON */
  
  .div-botones-1{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-direction: row;
  }
  
  .div-botones-2{
    display: flex;
    justify-content: space-between;
  }

  p{
    color: white;
  }
  
  
  .boton-principal {
    background-color: #a652f5;
    font-weight: bold;
    color:white;
    border-radius: 10px;
    padding: 8px 12px;
    border-color: white;
    border-style: double;
    box-shadow: none;
  }

  .boton-principal:hover {
    background-color: #a652f5;
    color:white;
  }
  
  /* HASTA AQUI BOTON */
  
  .seccion-1 {
    background-color: rgb(18, 18, 18);;
    margin: 20px !important;
    height: auto;
    max-width: 1100px; 
    width: -webkit-fill-available;
  }
  
  .div-titulo-seccion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    flex-direction: column-reverse;
  }
  
  .titulo-seccion {
    font-size: 32px;
    color: white;
  }
  
  /* Estilos para los botones de categoría */
  .categorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
  
  .categoria {
      display: flex;
      justify-content: center;
  }
  
  .category-button {
      background-color: #5c0e94c5;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      margin: 0 8px;
      cursor: pointer;
      position: relative;
  }
  
  .category-button:hover {
      background-color: #9747FF;
  }
  
  .category-button.active {
      border: 2px solid white;
      background-color: #9747FF;
  }
  
  .category-icon {
      width: 20px;
      height: 20px;
      color:white;
  }
  
  /* HASTA AQUI CATEGORIAS */

/*VALORACION RATING*/
.rating-row {
  display: flex;
  flex-direction: row;
}

  @media (max-width: 576px) {
    
  .categoria {
    margin: 20px 0px!important;
  }
}
