/* Estilos generales */
.layout-topbar {
    padding: 10px;
}

.username {
    margin-left: 20px;
}

/* Estilos para dispositivos móviles grandes (L) */
@media screen and (max-width: 992px) {
    .layout-topbar {
        padding: 5px;
    }

    .layout-topbar-button-menu .text {
        display: none !important;
        padding-bottom: 0!important;
        margin-bottom: 0!important;
    }

    .username {
        display: none !important;
    }

    .vertical-line {
        width: 1px !important;
        padding: 0px !important;
        margin: 13px !important;
    }
}

/* Estilos para dispositivos móviles pequeños */
@media screen and (max-width: 576px) {
    .layout-topbar {
        padding: 2px;
    }

    .layout-topbar-button-menu .text {
        display: none !important;
        padding-bottom: 0!important;
        margin-bottom: 0!important;
    }

    .layout-topbar-button-menu {
        padding: 0!important;
        margin: 0!important;
    }

}

.layout-topbar .col-2 {
    display: flex;
    align-items: center;
}

.layout-topbar .col-2 img {
    margin-right: 5px;
}

.layout-topbar .col-2 img,
.layout-topbar .col-2 span {
    display: inline-block;
    vertical-align: middle;
}