button:hover svg {
    transform: none !important;
}

/* MENSAJE CUANDO NO HAY PUBLI */
.texto-advertencia {
    display: flex;
    justify-content: center;
    background-color: rgb(18, 18, 18);
    align-items: center;
    height: auto;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 12px grey;
    width: 100%;
    color: white;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    max-width: 1100px;
}

.texto-advertencia img {
    width: 250px;
    height: 250px;
}

.boton-principal-crear {
    background-color: #a652f5;
    font-weight: bold;
    color:white;
    border-radius: 10px;
    padding: 8px 12px;
    border-color: white;
    border-style: double;
    box-shadow: none;
    width: auto;
    height: auto;
  }

  .boton-principal-crear:hover {
    background-color: #a652f5;
    color:white;
  }


/* PUBLICACION */
/* Cabecera de publicacion */
div.seccion-publicaciones {
    padding-top: 20px;
    max-width: 1100px ;
}

div.publicacion-entera {
    border-radius: 10px;
    background-color: rgb(18, 18, 18);
    box-shadow: 2px 4px 12px grey;
}

.cabecera-publi {
    display: flex;
    flex-direction: row;
    padding: 5px 40px 12px 40px;
}

.info-cabecera {
    display: flex;
    flex-direction: row;
    padding: 0px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-bottom-width: 1px;
    padding-bottom: 5px;
}

.foto-user-cabecera {
    margin-right: 0px !important;
    margin: 7px 0px !important;
    width: 50px !important; 
    height: 50px !important; 
    border-radius: 25px !important; 
    object-fit: cover !important;
}

.utiles-cabecera {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-bottom-width: 1px;
    padding-bottom: 5px;
}

/* Plegable opciones eliminar y editar */
/* boton */
.boton-desplegable {
    color: #fff; /* Color del texto */
    background-color: #9747FF; 
    padding: .375rem .75rem;
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: .25rem; 
    border-style: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}


.drop {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #9747FF !important;
    color:white;
}

.drop li {
    font-size: 16px;
    padding: 10px 0px;
    justify-content: end;
    display: flex;
    padding-right: 20px;
}

.drop li:hover{
    background-color: white !important;
    color:#9747FF;
}

.drop li a{
    padding-left: 10px;
    font-weight: 600;

}

.dropdown.open .dropdown-menu {
    display: block;
}

/* Hasta aqui cabecera */

/* Cuerpo publicacion */
.cuerpo-publi {
    display: flex;
    flex-direction: row;
    padding: 0px 40px 20px 40px;
}

/* IMAGEN */
.contenedor-imagen-inicio {
    padding: 0px;
    position: relative;
}

div.contenedor-imagen-inicio img.imagen-publicacion-inicio {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contenedor-imagen-inicio::before {
    content: "";
    display: block;
    /* padding-top: 133.33%; */
    /* 4/3 = 1.3333 */
}

/* rgb(18, 18, 18); */


/* INFO */
/* parte user */
.detalles-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.detalles-user-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foto-user {
    width: 30px;
    height: 30px;
    margin: 0px 4px 0px 0px !important;
}

.detalles-publicacion {
  color: white;
  /* el padding ponerlo solo en modo escritorio */
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  height: auto;
}

div.detalles-publicacion div.seccion-publi-2 {
    height: 40%;
    display: flex;
    flex-direction: column;
}
div.detalles-publicacion div.seccion-publi-3 {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* ZONA USUARIO + DESCRIPCION PRODUCTOS PUBLI */
.desc-1 {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    padding: 15px;
}


.acciones-1 {
    padding: 15px;

}


/* SECCION DE ICONOS DE ACCIONES PUBLI */
.acciones-publi {
    display: flex;
    flex-direction: row;
}

.acciones-div {
    margin: 0px 20px 0px 0px;
}


/* Hasta aqui cuerpo */
/* HASTA AQUI PUBLICACION */

/* TIPOGRAFIAS */
h2.nombre-user-publi-principal{
    color: white !important;
}

p.nombre-user-publi{
    font-weight: bold;
    color: white;
    font-size: 18px;
}

p.nombre-user{
    font-weight: bold;
    margin: 0px;
}

p.text-like{
    margin: 4px 0px 0px 0px;
}

p.text-publi{
    margin: 0px 0px 0px 0px;
    font-size: 15px;
}

p.text-publi-comentarios{
    margin: 0px 0px 10px 34px;
    font-size: 14px;
}

.texto-titulo-comentarios {
    font-weight: bold;
    color: white;
    padding: 0px 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    width: fit-content;
}

/* HASTA AQUI TIPOGRAFIAS */


/* TOGGLE */
#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: #9747FF;
    border-radius: 4px;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

/* HASTA AQUI TOGGLE */


/* BOTON PUBLICAR COMENTARIO */
button#publicar {
    font-family: inherit;
    font-size: 14px;
    background: #9747FF;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

/* HASTA AQUI BOTON PUBLICAR */


/* ESCRIBIR COMENTARIO */
.escribir-comentario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  */
.input-wrapper {
    position: relative;
    width: 100%;
    padding-right: 10px;
}

.input-box {
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #9747FF;
    color: #ccc;
    width: 100%;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
}

.input-box:focus {
    border-color: #9747FF;
    outline: none;
}

.input-box:focus+.underline {
    transform: scaleX(1);
}

.titulo-comentarios {
    margin-bottom: 10px;
}

.comentarios-zona {
    /* revisar max-heigth para movil */
    max-height: 180px; 
    overflow-y: auto;
}

/* css de barra de scroll */
.comentarios-zona::-webkit-scrollbar {
    width: 10px;
  }
  
  .comentarios-zona::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.04);;
    border-radius: 10px;
  }
  
  .comentarios-zona::-webkit-scrollbar-thumb:hover {
    background: #9747FF;
  }

/* HASTA AQUI COMENTARIO */




/* CORAZON */
.heart-container {
    --heart-color: #9747FF;
    position: relative;
    width: 30px;
    height: 30px;
    transition: .3s;
}

.heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
}

.heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
}

.heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate .5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block
}



@keyframes keyframes-svg-filled {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(1);
        filter: brightness(1.5);
    }
}

@keyframes keyframes-svg-celebrate {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        filter: brightness(1.5);
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
        display: none;
    }
}

/* CORAZON HASTA AQUI*/

/*VALORACION RATING*/
.text-publi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-row {
    display: flex;
    flex-direction: row;
}


/* RESPONSIVE MOVIL */
@media (max-width: 430px) {
    .detalles-publicacion {
        padding: 20px 0px 0px 0px !important;
    }

    .drop li {
        font-size: 20px!important;
        padding: 10px 0px!important;
        justify-content: end!important;
        display: flex!important;
        padding-right: 20px!important;
    }
    p.text-like{
        margin: 0px 0px 14px 0px!important;
        text-align: left!important;
    }

    p.text-publi{
        text-align: left!important;
    }

    div.detalles-publicacion div.seccion-publi-1 {
        height: auto!important;
    }
}