h2.titulo-panel {
  font-size: 30px;
  color: white;
  font-weight: 500;
}

.texto-admin {
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.admin-publis .user-publis{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0px;
}

.boton-principal-admin {
  background-color: #a652f5;
  font-weight: bold;
  color:rgb(18, 18, 18);
  border-radius: 10px;
  padding: 8px 12px;
  border-color: white;
  border-style: solid;
  box-shadow: none;
  width: auto;
  height: auto;
}

.boton-principal-admin:hover {
  background-color: #a652f5;
  color:white;
}

.seccion-admin-principal {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(18, 18, 18);
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 2px 4px 12px grey;
  padding: 20px;
  width: 80%;
}

.container-admin {
  display: flex; 
  align-items: center; 
  flex-direction: column; 
  width: 100%;
}

/* Estilos para las tablas */
.admin-publis table.bg-dark.text-white,
.admin-users table.bg-dark.text-white {
  background-color: #343a40 !important;
  color: white !important;
}

