.swal2-container {
    z-index: 10000 !important;
}


.btn-purple {
    background-color: #5c0e94c5;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 8px;
    cursor: pointer;
    position: relative;
}

.btn-purple:hover {
    background-color: #9747FF;
}

.btn-purple.active {
    border: 2px solid white;
    background-color: #9747FF;
}

.seccion-editar-perfil {
    width: 870px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 1100px !important;
    width: 100% !important;
    border-radius: 10px !important;
    background-color: rgb(18, 18, 18) !important;
    box-shadow: 2px 4px 12px grey !important;
}

.seccionProfile {
    margin-top: 20px !important;
    max-width: 1100px !important;
    width: 100% !important;
    border-radius: 10px !important;
    background-color: rgb(18, 18, 18) !important;
    box-shadow: 2px 4px 12px grey !important;
}

.edit-btn {
    background-color: #000000;
    color: white;
    border: none;
    margin-bottom: 10px;
    width: 400px;
}

.edit-btn:hover {
    background-color: #5c0e94c5;
    color: white;
}

/* Cuerpo publicacion */
.cuerpo-publi {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

/* IMAGEN */
.contenedor-imagen {
    width: 100%;
    padding: 0px;
    position: relative;
}

div.contenedor-imagen img.imagen-publicacion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-imagen::before {
    content: "";
    display: block;
    padding-top: 133.33%;
    /* 4/3 = 1.3333 */
}

.grid-container::-webkit-scrollbar {
    width: 10px;
}

.grid-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    padding-left: 4px;
}

.grid-container::-webkit-scrollbar-thumb:hover {
    background: #9747FF;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
    grid-gap: 0px;
    overflow: auto;
    max-height: 700px;
    padding: 30px 20px 30px 30px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
}

/* Estilos para los items del grid */
.grid-item {
    border: 1px solid #6d10b0c5;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0px 1px;
    overflow: hidden;
    /* Asegura que el contenido no sobresalga */
}

/* Estilos para las imágenes dentro de los items del grid */
.contenedor-imagen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* img perfil */
.img-perfil {
    width: 65px !important;
    height: 65px !important;
    object-fit: cover !important;
}

/* DIALOG */

.p-dialog .p-dialog-content:last-of-type {
    background-color: transparent;
    padding: 0px 0px 100px 0px;
}

.p-dialog .p-dialog-header {
    background-color: transparent;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    background-color: white;
    color: #9747FF;
}


/* CSS PUBLICACION */
/* PUBLICACION */
div.seccion-publicaciones-dialog {
    padding-top: 20px;
    max-width: 1100px;
}

div.publicacion-entera-dialog {
    border-radius: 10px;
    background-color: rgb(18, 18, 18);
    box-shadow: 2px 4px 12px grey;
}

.cabecera-publi-dialog {
    display: flex;
    flex-direction: row;
    padding: 5px 40px 12px 40px;
}

.info-cabecera-dialog {
    display: flex;
    flex-direction: row;
    padding: 0px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-bottom-width: 1px;
    padding-bottom: 5px;
}

.foto-user-cabecera-dialog {
    margin-right: 0px !important;
    margin: 7px 0px !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 25px !important;
    object-fit: cover !important;
}

.utiles-cabecera-dialog {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-bottom-width: 1px;
    padding-bottom: 5px;
}

/* Plegable opciones eliminar y editar */
/* boton */
.boton-desplegable-dialog {
    color: #fff;
    background-color: #9747FF;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-style: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}


.drop-dialog {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #9747FF !important;
    color: white;
}

.drop li {
    font-size: 16px;
    padding: 10px 0px;
    justify-content: end;
    display: flex;
    padding-right: 20px;
}

.drop li:hover {
    background-color: white !important;
    color: #9747FF;
}

.drop li a {
    padding-left: 10px;
    font-weight: 600;

}

.dropdown.open .dropdown-menu {
    display: block;
}

/* Hasta aqui cabecera */

/* Cuerpo publicacion */
.cuerpo-publi-dialog {
    display: flex;
    flex-direction: row;
    padding: 0px 40px 20px 40px;
}

/* IMAGEN */
.contenedor-imagen-dialog {
    padding: 0px;
    position: relative;
}

div.contenedor-imagen-dialog img.imagen-publicacion-dialog {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contenedor-imagen-dialog::before {
    content: "";
    display: block;

}



/* INFO */
/* parte user */
.detalles-perfil-dialog {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.detalles-user-2-dialog {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foto-user-dialog {
    width: 30px;
    height: 30px;
    margin: 0px 4px 0px 0px !important;
}

.detalles-publicacion-dialog {
    color: white;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    height: auto;
}

div.detalles-publicacion-dialog div.seccion-publi-1-dialog {
    height: 40%;
}

div.detalles-publicacion-dialog div.seccion-publi-2-dialog {
    height: 40%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

div.detalles-publicacion-dialog div.seccion-publi-3-dialog {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* ZONA USUARIO + DESCRIPCION PRODUCTOS PUBLI */
.desc-1-dialog {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    padding: 15px;
}


.acciones-1-dialog {
    padding: 15px;

}


/* SECCION DE ICONOS DE ACCIONES PUBLI */
.acciones-publi-dialog {
    display: flex;
    flex-direction: row;
}

.acciones-div-dialog {
    margin: 0px 20px 0px 0px;
}


/* Hasta aqui cuerpo */
/* HASTA AQUI PUBLICACION */

/* TIPOGRAFIAS */

h2.nombre-user-publi-principal-dialog {
    color: white !important;
}

p.nombre-user-publi-dialog {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

p.nombre-user-dialog {
    font-weight: bold;
    margin: 0px;
    font-size: 15px;
}

p.text-like-dialog {
    margin: 4px 0px 0px 0px;
    font-size: 15px;
}

p.text-publi-dialog {
    margin: 0px 0px 0px 0px;
    font-size: 15px;
}

p.text-publi-comentarios-dialog {
    margin: 0px 0px 10px 34px;
    font-size: 14px;
}

.texto-titulo-comentarios-dialog {
    font-weight: bold;
    color: white;
    padding: 0px 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    width: fit-content;
    font-size: 15px;
}

/* HASTA AQUI TIPOGRAFIAS */

/* TOGGLE */
#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: #9747FF;
    border-radius: 4px;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

/* HASTA AQUI TOGGLE */

/* BOTON PUBLICAR COMENTARIO */
button#publicar {
    font-family: inherit;
    font-size: 14px;
    background: #9747FF;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

/* HASTA AQUI BOTON PUBLICAR */


/* ESCRIBIR COMENTARIO */
.escribir-comentario-dialog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  */
.input-wrapper {
    position: relative;
    width: 100%;
    padding-right: 10px;
}

.input-box {
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #9747FF;
    color: #ccc;
    width: 100%;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
}

.input-box:focus {
    border-color: #9747FF;
    outline: none;
}

.input-box:focus+.underline {
    transform: scaleX(1);
}

.titulo-comentarios-dialog {
    margin-bottom: 10px;
}

.comentarios-zona-dialog {
    max-height: 180px;
    overflow-y: auto;
}


/* css de barra de scroll */
.comentarios-zona-dialog::-webkit-scrollbar {
    width: 10px;
}

.comentarios-zona-dialog::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.04);
    ;
    border-radius: 10px;
}

.comentarios-zona-dialog::-webkit-scrollbar-thumb:hover {
    background: #9747FF;
}

/* HASTA AQUI COMENTARIO */




/* CORAZON */
.heart-container {
    --heart-color: #9747FF;
    position: relative;
    width: 30px;
    height: 30px;
    transition: .3s;
}

.heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
}

.heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
}

.heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate .5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block
}

@keyframes keyframes-svg-filled {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(1);
        filter: brightness(1.5);
    }
}

@keyframes keyframes-svg-celebrate {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        filter: brightness(1.5);
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
        display: none;
    }
}

/* CORAZON HASTA AQUI*/

/*USERPROFILECSS*/
.follow-btn {
    background-color: #000000;
    color: white;
    border: none;
    margin-bottom: 10px;
    width: 400px;
}

.follow-btn:hover {
    background-color: #5c0e94c5;
    color: white;
}

.following-btn {
    background-color: #5c0e94c5;
    color: white;
    border: none;
    margin-bottom: 10px;
    width: 400px;
}

.following-btn:hover {
    background-color: #000000;
    color: white;
}

.edit-btn {
    background-color: #000000;
    color: white;
    border: none;
    margin-bottom: 10px;
    width: 400px;
}

.edit-btn:hover {
    background-color: #5c0e94c5;
    color: white;
}

/*VALORACION RATING*/
.text-publi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-row {
    display: flex;
    flex-direction: row;
}

/* RESPONSIVE MOVIL */
@media (max-width: 576px) {

    .img-perfil{
        margin-left: 27px!important;
    }

    h2{
        text-align: center!important;
    }

    .publicacion-entera-dialog {
        margin-left: 20px !important;
        margin-right: 20px !important;

    }

    .p-dialog-header {
        margin-top: 80px !important;
    }

    .detalles-publicacion-dialog {
        padding: 15px !important;
        display: flex !important;
    }

    .imagen-publicacion-dialog {
        width: 100% !important;
    }

    .desc-1-dialog {
        flex-grow: 1;
        text-align: center;
    }

    .responsiveComment,
    .seccion-publi-2-dialog,
    .seccion-publi-3-dialog {
        display: none !important;
    }

    .drop-dialog li {
        font-size: 20px;
        padding: 10px 0px;
        justify-content: flex-end;
        display: flex;
        padding-right: 20px;
    }

    .detalles-publicacion-dialog {
        margin: 0 !important;
        padding: 0 !important;

    }

    /* Ajustes para el perfil */
    .seccionProfile {
        width: 400px!important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    /* Centrar elementos en la tarjeta de perfil */
    .d-flex.align-items-center.w-100 {
        flex-direction: column !important;
        align-items: center !important;
    }

    .d-flex.mb-auto {
        justify-content: center !important;
    }

    .d-flex.ml-auto {
        margin-left: 0 !important;
        margin-top: 10px !important;
    }

    .d-flex.ml-auto .text-center.mx-3 {
        margin-bottom: 10px !important;
    }

    /* Centrar texto y elementos */
    .center-text {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
    }

    /* Ajuste para que los botones estén uno encima del otro */
    .column-buttons {
        padding: 0 !important;
        margin: 0 auto !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .edit-btn {
        margin: 0 !important;
        margin-top: 5px !important;
    }

    .grid-container {
        grid-template-columns: repeat(1, minmax(50%, 1fr))!important;
        padding: 10px!important;
        width: 360px!important;
        margin: auto!important;

    }

}