<template>
    <div class="dropzone-container" @dragover="dragover" @dragleave="dragleave" @drop="drop">
        <input type="file" name="file" id="fileInput" class="hidden-input" @change="onChange" ref="refFiles"
            accept=".gif,.webp,.jpg,.jpeg,.png" />

        <div class="file-label text-center" v-if="thumbnail || modelValue">
            <div :key="thumbnail.name" > <!-- class="preview-card"-->
                <div class="image-container">
                    <div class="scrollable-content">
                        <img v-if="!img" class="preview-img" v-bind:src="modelValue" />
                        <img v-else class="preview-img" v-bind:src="img" />
                    </div>
                </div>
                <!-- <div>
                    <a href="javascript:void(0)" class="ml-2" type="button" @click="remove(index)" title="Remove file">
                        <b>&times;</b>
                    </a>
                </div> -->
            </div>
        </div>

        <label for="fileInput" class="file-label text-center" v-if="!thumbnail && !modelValue">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-image"
                viewBox="0 0 16 16">
                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                <path
                    d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
            </svg>
            <div v-if="isDragging">Suelta los archivos aquí.</div>
            <div v-else>Haz clic aquí o arrastra y suelta archivos.</div>
        </label>
    </div>
</template>

<script setup>
import { ref, watch, defineProps, defineEmits } from 'vue';

const props = defineProps({
    modelValue: String
});

const thumbnail = ref('');
const isDragging = ref(false);
const refFiles = ref(null);
let img = ref('');

const emit = defineEmits(['update:modelValue']);

const onChange = () => {
    thumbnail.value = refFiles.value.files;
    img = URL.createObjectURL(refFiles.value.files[0]);
};

// const remove = (i) => {
//     thumbnail.value = "";
//     img = "";
//     emit('update:modelValue', "");
// };

const dragover = (e) => {
    e.preventDefault();
    isDragging.value = true;
};

const dragleave = () => {
    isDragging.value = false;
};

const drop = (e) => {
    e.preventDefault();
    refFiles.value.files = e.dataTransfer.files;
    onChange();
    isDragging.value = false;
};

watch(thumbnail, () => {
    emit('update:modelValue', thumbnail.value[0]);
});
</script>

<style scoped>
.dropzone-container {
    position: relative;
    padding: 2rem;
    background: #35274d;
    border: 2px dashed #a652f5;
    border-radius: 5px;
    height: 250px;
    overflow: hidden;
}

.hidden-input {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
}

.file-label {
    font-size: 20px;
    display: block;
    cursor: pointer;
    color: #a652f5;
    margin-top: 50px;
}
.preview-card {
    display: flex;
    border: 1px solid #a2a2a2;
    padding: 5px;
    margin-left: 5px;
    object-fit: cover;
    background-color: #35274d;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scrollable-content {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.preview-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
</style>
