<template>
    <div class="card seccion-1">
        <div class="card-body">
            <form @submit.prevent="addPubli" enctype="multipart/form-data">
              <div v-if="step === 1" class="paso-1">
                <div class="form-group mb-2">
                    <div class="div-titulo-seccion">
                      <h5 class="card-title titulo-seccion">Selecciona las categorias</h5>
                    </div>
                    <div class="categorias row">
                      <div v-for="categoria in categorias" :key="categoria.id" class="categoria col-sm-12 col-md 3">
                        <button type="button" :class="{ 'active': isCategorySelected(categoria.id) }" class="category-button" @click="toggleCategoria(categoria.id)">
                          <img :src="categoria.icono" alt="Icono de categoría" class="category-icon">
                          {{ categoria.nombreCategoria }}
                        </button>
                      </div>
                    </div>
                </div>
                <div class="div-botones-1">
                  <p></p>
                  <p class="paso-numero-1">1 de 3</p>
                  <button type="button" @click="nextStep" class="boton-principal">Siguiente</button>
                </div>
              </div>

                <div v-if="step === 2">
                    <div class="mb-3">
                        <div class="div-titulo-seccion">
                            <h5 class="card-title titulo-seccion">Añade la imagen a mostrar</h5>
                        </div>
                        <h6 class="mt-3 texto-info-crear">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-down-square" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                            </svg> Imagen
                        </h6>
                    <DropZone v-model="publi.foto" class="form-control" name="foto"/>
                    <div class="text-danger mt-1">
                        <div v-for="message in validationErrors?.thumbnail">
                        {{ message }}
                        </div>
                    </div>
                    </div>
                    <div class="div-botones-2">
                      <button type="button" @click="prevStep" class="boton-principal">Anterior</button>
                      <p class="paso-numero">2 de 3</p>
                      <button type="button" @click="nextStep" class="boton-principal">Siguiente</button>
                    </div>
                </div>
                <div v-if="step === 3">
                <div class="div-titulo-seccion">
                  <h5 class="card-title titulo-seccion">Asigna información</h5>
                </div>
                <div v-for="(categoria, index) in publi.categorias" :key="index">
                  <div class="form-group mb-2">
                    <h2 class="texto-info-crear" style="font-size: large;">{{ getCategoryName(categoria.id) }}: </h2>
                    <label class="texto-info-crear">Nombre:</label><span class="text-danger">*</span>
                    <input v-model="categoria.nombreProducto" class="form-control" name="nombreProducto"
                      :placeholder="'Ejemplo: Camiseta - Nike'" />
                  </div>
                  <div class="form-group mb-2">
                    <label class="texto-info-crear">Link:</label><span class="text-danger">*</span>
                    <input v-model="categoria.linkProducto" class="form-control" name="linkProducto" />
                  </div>
                  <div class="form-group mb-2" style="flex-direction: row;">
                    <label class="texto-info-crear">Añadele una valoración:</label><span class="text-danger">*</span>
                    <Rating class="rating-row" v-model="categoria.valoracion" :cancel="false" />
                  </div>
                </div>

                <div class="form-group mb-2">
                  <label class="texto-info-crear">¿Es una colaboración de pago?</label>
                  <input type="checkbox" v-model="publi.dePago" name="dePago" />
                </div>
                <div class="div-botones-2">
                  <button type="button" @click="prevStep" class="boton-principal">Anterior</button>
                  <p class="paso-numero">3 de 3</p>
                  <button type="submit" class="boton-principal">Publicar</button>
                </div>
              </div>
            </form>
        </div>
    </div>
            <!-- v-if="strError" CON ESTO SOLO ES VISIBLE SI TIENE EL DATO strError -->
            <div v-if="strError" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>{{ strError }}</strong>
            </div> 
</template>

<script setup>
    import { ref, computed, inject, onMounted } from "vue";
    import DropZone from "@/components/DropZone.vue";
    // import useAuth from "@/composables/auth";
    import useExercises from "@/composables/exercises";
    import { useStore } from 'vuex';
    import { useRouter } from 'vue-router'; 
    
    const store = useStore();
    const user = computed(() => store.state.auth.user)
    const idUsuario = user.value.id;
    const {storeExercise, validationErrors, isLoading} = useExercises()
    const publi = ref({ idUsuario: '', categorias: [], nombreProducto: '', linkProducto: '' });
    const strError = ref();
    const strSuccess = ref();
    const step = ref(1);
    const router = useRouter();
    const swal = inject('$swal');
    const categorias = ref([]);


    onMounted(async () => {
      const response = await axios.get('/api/categorias');
      categorias.value = response.data;
    });

    // FUNCION PARA MOSTRAR EL NOMBRE SEGUN EL ID DE LA CATEGORIA EN EL PASO 3
    function getCategoryName(id) {
      const category = categorias.value.find(categoria => categoria.id === id);
      return category ? category.nombreCategoria : '';
    }

    function isCategorySelected(id) {
      return publi.value.categorias.some(categoria => categoria.id === id);
    }

    function toggleCategoria(id) {
      console.log(publi.value.categorias);
      if (isCategorySelected(id)) {
        publi.value.categorias = publi.value.categorias.filter(categoria => categoria.id !== id);
      } else {
        publi.value.categorias.push({
          id: id,
          nombreProducto: '',
          linkProducto: ''
        });
      }
    }

    async function addPubli() {
  let formData = new FormData();
  publi.value.idUsuario = idUsuario;

  formData.append('idUsuario', publi.value.idUsuario);
  formData.append('foto', publi.value.foto);
  if (publi.value.dePago != true) {
    formData.append('dePago', 0);
  } else {
    formData.append('dePago', Number(publi.value.dePago));
  }

  try {
    const response = await axios.post('/api/publicacions', formData, {
      headers: {
        "Content-Type": "multipart/form-data"
      }
    });

    for (let categoria of publi.value.categorias) {
      formData = new FormData();
      formData.append('idPublicacion', response.data.data.id);
      formData.append('idCategoria', categoria.id);
      formData.append('nombreProducto', categoria.nombreProducto);
      formData.append('linkProducto', categoria.linkProducto);
      formData.append('valoracion', categoria.valoracion);


      const responseProducto = await axios.post('/api/productos', formData, {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      });

      strSuccess.value = responseProducto.data.success;
      strError.value = "";
    }

    swal({
      title: '¡Publicación añadida correctamente!',
      text: 'Serás redirigido a la página de inicio en breve.',
      icon: 'success',
      confirmButtonText: 'Aceptar',
      timer: 5000,
      timerProgressBar: true,
    }).then((result) => {
      if (result.isConfirmed || result.dismiss === swal.DismissReason.timer) {
        swal.close();
        router.push('/user/inicio');
      }
    });

  } catch (error) {
    strSuccess.value = "";
    strError.value = error.response.data.message;
  }
}

      
  function nextStep() {
      if(step.value == 1){
        if(publi.value.categorias.length > 0){
          step.value++;
        }
      } else {
        step.value++;
      }
  }

    function prevStep() {
    if (step.value > 1) {
        step.value--;
    }
    }
</script>


<style src="resources\css\create.css"></style>