<template>
    <div class="card border-0 container-principal">
        <div class="search-container">
            <div class="categories">
                <button v-for="categoria in categorias" :key="categoria.id"
                    :class="{ 'active': isCategorySelected(categoria.id) }" class="category-button"
                    @click="toggleCategoria(categoria.id)">
                    <img :src="categoria.icono" alt="Icono de categoría" class="category-icon">
                    {{ categoria.nombreCategoria }}
                </button>
            </div>
        </div>
        <div class="grid-container">
            <div v-for="(publi, index) in filteredPublications()" :key="publi.id" class="grid-item">
                <div class="contenedor-imagen">
                    <img :src="publi.imagen" alt="Imagen de la publicación" class="imagen-publicacion"
                        @click="openDialog(publi)" />
                </div>
            </div>
        </div>
    </div>
    <Dialog v-model:visible="visible" modal :style="{ width: '80rem' }">
        <div v-if="selectedPublication" class="publicacion-entera-dialog">
            <div class="cabecera-publi-dialog row">
                <div class="info-cabecera-dialog col-9">
                    <img :src="getUserImage()" alt="Icono de usuario" class="foto-user-cabecera-dialog">
                    <div class="d-flex flex-column justify-content-center ml-3">
                        <h2 class="mb-0 nombre-user-publi-principal-dialog">{{ selectedPublication.user.name }}</h2>
                        <p v-if="selectedPublication.dePago" class="text-publi-dialog">Colaboración de pago</p>
                    </div>
                </div>
                <div class="utiles-cabecera-dialog col-3">
                </div>
            </div>
            <div class="cuerpo-publi-dialog row">
                <div class="contenedor-imagen-dialog col-sm-12 col-md-5">
                    <img :src="selectedPublication.imagen" alt="Imagen de la publicación"
                        class="imagen-publicacion-dialog" />
                </div>
                <div class="detalles-publicacion-dialog col-sm-12 col-md-7">
                    <div class="seccion-publi-1-dialog">
                        <div class="desc-1-dialog">
                            <div class="detalles-perfil-dialog">
                                <img :src="selectedPublication.user.media[0].original_url" alt="Icono de usuario"
                                    class="foto-user-dialog me-3 rounded-circle">
                                <p class="nombre-user-publi-dialog">{{ selectedPublication.user.name }}</p>
                            </div>
                            <div v-for="producto in selectedPublication.productos" :key="producto.id">
                                <div class="div-descripcion-publi-dialog">
                                    <div class="text-publi">
                                        <span>{{ getCategoryName(producto.idCategoria) }} - {{ producto.nombreProducto
                                            }}</span>
                                        <Rating class="rating-row" v-model="producto.pivot.valoracion" :cancel="false"
                                            readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="acciones-1-dialog">
                            <div class="acciones-publi-dialog">
                                <div @click="redirectToLogin" class="acciones-div-dialog heart-container" title="Like">
                                    <input type="checkbox" class="checkbox" id="Give-It-An-Id">
                                    <div class="svg-container">
                                        <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="acciones-div-dialog" @click="redirectToLogin">
                                    <img src="/images/chat.svg" alt="Icono de comentario">
                                </div>
                                <div class="acciones-div-dialog" @click="redirectToLogin">
                                    <img src="/images/link.svg" alt="Icono de link">
                                </div>
                            </div>
                            <p class="text-like-dialog"><b>{{ selectedPublication.megusta.length }}</b> Me gustas</p>
                        </div>
                    </div>
                    <div class="seccion-publi-2-dialog">
                        <div class="titulo-comentarios-dialog">
                            <p class="texto-titulo-comentarios-dialog">Comentarios</p>
                        </div>
                        <div class="comentarios-zona-dialog">
                            <div v-for="comentario in selectedPublication.comentarios" :key="comentario.id">
                                <div class="detalles-user-2-dialog">
                                    <img :src="getUserImage()" alt="Icono de usuario"
                                        class="foto-user-dialog me-3 rounded-circle">
                                    <p class="nombre-user-dialog">{{ comentario.usuario.name }}</p>
                                </div>
                                <p class="text-publi-comentarios-dialog">{{ comentario.comentario }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="seccion-publi-3-dialog">
                        <div class="escribir-comentario-dialog">
                            <div class="input-wrapper">
                                <input :ref="el => (inputComentario[index] = el)" class="input-box" type="text"
                                    v-model="nuevoComentario" placeholder="Escribe tu comentario...">
                                <span class="underline"></span>
                            </div>
                            <div class="zona-boton-publi-dialog">
                                <button id="publicar" @click="redirectToLogin">
                                    <div class="svg-wrapper-1">
                                        <div class="svg-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                height="24">
                                                <path fill="none" d="M0 0h24v24H0z"></path>
                                                <path fill="currentColor"
                                                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <span>Publicar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Dialog>
</template>

<script setup>

import Dialog from 'primevue/dialog';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { onMounted, reactive, watchEffect, computed, ref } from "vue";
import { useField, defineRule } from "vee-validate";
import { required, min } from "@/validation/rules"
import useUsers from "@/composables/users";
defineRule('required', required)
defineRule('min', min);

// user
const store = useStore();
const user = computed(() => store.state.auth.user)
const idUsuario = user.value.id;

// redirects
const router = useRouter();

// dialog
const visible = ref(false);
const selectedPublication = ref(null);

const categorias = ref([]);
const allPublications = reactive([]);
const selectedCategories = ref([]);
let inputComentario = ref([]);
const nuevoComentario = ref('');

const { value: name } = useField('name', null, { initialValue: '' });
const { value: email } = useField('email', null, { initialValue: '' });
const { user: usersData } = useUsers()
const users = reactive({
    name,
    email,
    seguidoresCount: 0,
    seguidosCount: 0,
    puntos: 0
})


onMounted(async () => {
    const response = await axios.get('/api/categorias');
    categorias.value = response.data;

    axios.get('/api/publicacions')
        .then(response => {
            allPublications.value = response.data;
        })
})

watchEffect(() => {
    if (usersData.value) {
        users.name = usersData.value.name
        users.email = usersData.value.email
        users.seguidoresCount = usersData.value.seguidoresCount
        users.seguidosCount = usersData.value.seguidosCount
        users.puntos = usersData.value.puntos

        axios.get('/api/publicacions')
            .then(response => {
                allPublications.length = 0;
                response.data.forEach(publi => {
                    allPublications.push(publi);
                });
            })
            .catch(error => {
                console.error('Error al recuperar las publicaciones:', error);
            });
    }
})

// funcion para al dar clic en la imagen se abra el dialog
function openDialog(publi) {
    selectedPublication.value = publi;
    visible.value = true;
}

const redirectToLogin = () => {
        router.push('/login');
};


function getCategoryName(id) {
    const category = categorias.value.find(categoria => categoria.id === id);
    return category ? category.nombreCategoria : '';
}

function isCategorySelected(id) {
    return selectedCategories.value && selectedCategories.value.includes(id);
}

function toggleCategoria(id) {
    const index = selectedCategories.value.indexOf(id);
    if (index > -1) {
        selectedCategories.value.splice(index, 1);
    } else {
        selectedCategories.value.push(id);
    }
}

function filteredPublications() {
    if (!selectedCategories.value || selectedCategories.value.length === 0) {
        // Si no hay categorías seleccionadas, mostrar todas las publicaciones
        return allPublications;
    } else {
        // Filtrar las publicaciones basadas en si alguna de sus categorías está seleccionada
        return allPublications.filter(publi => {
            // Comprobar si la publicación tiene productos
            if (publi.productos) {
                // Iterar sobre los productos de la publicación y verificar si alguna de las categorías de los productos está en las categorías seleccionadas
                return publi.productos.some(producto => selectedCategories.value.includes(producto.idCategoria));
            } else {
                // Si la publicación no tiene productos, no incluirla en los resultados filtrados
                return false;
            }
        });
    }
}

const getUserImage = () => {
    // Verificar si el usuario tiene una imagen de perfil
    if (user.value.foto) {
        return user.value.foto; // Devolver la imagen del usuario si existe
    } else {
        return '/images/userDefecto4.png'; // Devolver la imagen por defecto si el usuario no tiene imagen
    }
}
</script>


<style src="resources\css\explorar.css"></style>