<template>
    <div class="container rounded">
      <div class="row justify-content-center my-5">
        <div class="col-md-6">
          <div class="card border-0 shadow-sm rounded">
            <div class="card-header bg-transparent text-center">
              <h2 class="fw-bold text-white mb-3">Regístrate</h2>
            </div>
            <div class="card-body">
              <form @submit.prevent="submitRegister">
                <!-- Name -->
                <div class="mb-3">
                  <label for="name" class="form-label">{{ $t('name') }}</label>
                  <input v-model="registerForm.name" id="name" type="text" class="form-control" autofocus>
                  <!-- Validation Errors -->
                  <div class="text-danger mt-1">
                    <div v-for="message in validationErrors?.name">
                      {{ message }}
                    </div>
                  </div>
                </div>
                <!-- Email -->
                <div class="mb-3">
                  <label for="email" class="form-label">{{ $t('email') }}</label>
                  <input v-model="registerForm.email" id="email" type="email" class="form-control" autocomplete="username">
                  <!-- Validation Errors -->
                  <div class="text-danger mt-1">
                    <div v-for="message in validationErrors?.email">
                      {{ message }}
                    </div>
                  </div>
                </div>
                <!-- Password -->
                <div class="mb-4">
                  <label for="password" class="form-label">
                    {{ $t('password') }}
                  </label>
                  <input v-model="registerForm.password" id="password" type="password" class="form-control" autocomplete="current-password">
                  <!-- Validation Errors -->
                  <div class="text-danger-600 mt-1">
                    <div v-for="message in validationErrors?.password">
                      {{ message }}
                    </div>
                  </div>
                </div>
                <div class="mb-4">
                  <label for="password_confirmation" class="form-label">
                    {{ $t('confirm_password') }}
                  </label>
                  <input v-model="registerForm.password_confirmation" id="password_confirmation" type="password" class="form-control" autocomplete="current-password">
                  <!-- Validation Errors -->
                  <div class="text-danger-600 mt-1">
                    <div v-for="message in validationErrors?.password_confirmation">
                      {{ message }}
                    </div>
                  </div>
                </div>
  
                <!-- Buttons -->
                <div class="d-grid gap-2">
                  <button class="btn btn-purple fw-bold" :class="{ 'opacity-25': processing }" :disabled="processing">
                    {{ $t('register') }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script setup>
  import useAuth from '@/composables/auth'
  const { registerForm, validationErrors, processing, submitRegister } = useAuth();
  </script>
  
  <style scoped>
  .btn-purple {
    background-color: #a652f5;
  }
  img {
    width: 180px;
  }
  </style>
  