<template>
    <div style="display: flex; align-items: center; flex-direction: column;">
        <div v-if="!tienePublicacionesVisibles()" class="texto-advertencia row">
            <img src="/images/logo.svg" alt="Logo" class="img-fluid rounded-circle col-12">
            <p class="col-12">¡Crea una publicacion o sigue a usuarios para poder ver publicaciones!</p>
            <router-link :to="{ name: 'inicio.create' }" class="boton-principal-crear">Crear</router-link>
        </div>
        <div v-else>
        <div v-for="(publi, index) in publicaciones" :key="publi.id" class="seccion-publicaciones" :id="publi.id">
            <div v-if="publi && (publi.idUsuario === idUsuario || esSeguido(publi.idUsuario))"
                class="publicacion-entera">
                <div class="cabecera-publi row">
                    <div class="info-cabecera col-9">
                        <img :src="publi.user.media[0].original_url" alt="Icono de usuario"
                            class="foto-user-cabecera">
                        <div class="d-flex flex-column justify-content-center ml-3">
                            <h2 class="mb-0 nombre-user-publi-principal">{{ publi.user.name }}</h2>
                            <p v-if="publi.dePago" class="text-publi">Colaboración de pago</p>
                        </div>
                    </div>
                    <div class="utiles-cabecera col-3">
                        <div class="dropdown" @click="abrirDesplegable(index)"
                            :class="{ 'open': dropdownIndex === index }" v-if="publi.idUsuario === idUsuario">
                            <button class=" dropdown-toggle boton-desplegable" type="button"></button>
                            <ul class="drop dropdown-menu">
                                <li><a @click="updatePubli(publi.id, index)">Editar</a></li>
                                <li><a @click="deletePubli(publi.id, index)">Eliminar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cuerpo-publi row">
                    <div class="contenedor-imagen-inicio col-sm-12 col-md-5">
                        <img :src="publi.imagen" alt="Imagen de la publicación" class="imagen-publicacion-inicio" />
                    </div>
                    <div class="detalles-publicacion col-sm-12 col-md-7">
                        <div class="seccion-publi-1">
                            <div class="desc-1">
                                <div class="desc-1">
                                    <div class="detalles-perfil">
                                        <img :src="publi.user.media[0].original_url" alt="Icono de usuario"
                                            class="foto-user me-3 rounded-circle">
                                        <p class="nombre-user-publi">{{ publi.user.name }}</p>
                                    </div>
                                    <div v-if="publi.productos && publi.productos.length > 0"
                                        v-for="producto in publi.productos" :key="producto.id">
                                        <div class="div-descripcion-publi">
                                            <div class="text-publi">
                                                <span>{{ getCategoryName(producto.idCategoria) }} - {{producto.nombreProducto }}</span>
                                                <Rating class="rating-row" v-model="producto.pivot.valoracion"
                                                    :cancel="false" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="acciones-1">
                                <div class="acciones-publi">
                                    <div @click="darMegusta(publi.id)" class="acciones-div heart-container"
                                        title="Like">
                                        <input type="checkbox" class="checkbox" id="Give-It-An-Id"
                                            :checked="haDadoMegusta(publi)">
                                        <div class="svg-container">
                                            <svg viewBox="0 0 24 24" class="svg-outline"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                                </path>
                                            </svg>
                                            <svg viewBox="0 0 24 24" class="svg-filled"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="acciones-div" @click="() => focusInput(index)">
                                        <img src="/images/chat.svg" alt="Icono de comentario">
                                    </div>
                                    <div class="acciones-div" @click="detallesPubli(publi)">
                                        <img src="/images/link.svg" alt="Icono de link">
                                    </div>
                                </div>
                                <p class="text-like"><b>{{ publi.megusta.length }}</b> Me gustas</p>
                            </div>
                        </div>
                        <div class="seccion-publi-2">
                            <div class="titulo-comentarios">
                                <p class="texto-titulo-comentarios">Comentarios</p>
                            </div>
                            <div class="comentarios-zona">
                                <div v-for="comentario in publi.comentarios" :key="comentario.id">
                                    <div class="detalles-user-2">
                                        <img v-if="comentario.usuario.media && comentario.usuario.media.length > 0"
                                            :src="comentario.usuario.media[0].original_url" alt="Icono de usuario"
                                            class="foto-user me-3 rounded-circle">
                                        <p class="nombre-user">{{ comentario.usuario.name }}</p>
                                    </div>
                                    <p class="text-publi-comentarios">{{ comentario.comentario }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="seccion-publi-3">
                            <div class="escribir-comentario">
                                <div class="input-wrapper">
                                    <input :ref="el => (inputComentario[index] = el)" class="input-box" type="text"
                                        v-model="nuevoComentario" placeholder="Escribe tu comentario..."
                                        @keyup.enter="publicarComentario(publi.id)">
                                    <span class="underline"></span>
                                </div>
                                <div class="zona-boton-publi">
                                    <button id="publicar" @click="publicarComentario(publi.id)">
                                        <div class="svg-wrapper-1">
                                            <div class="svg-wrapper">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                    width="24" height="24">
                                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                                    <path fill="currentColor"
                                                        d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <span>Publicar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <i class="pi pi-angle-down fadeout animation-duration-1000 animation-iteration-infinite"></i>
        <ScrollTop />
    </div>
</template>


<script setup>
import { ref, inject } from "vue"
import { onMounted, computed } from "vue";
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import Rating from 'primevue/rating';


//OBTENER EL ID DEL USUARIO
const store = useStore();
const user = computed(() => store.state.auth.user)
const idUsuario = user.value.id;

// CONSTANTES QUE SE ASIGNAN VALORES EN EL ONMOUNTED
const publicaciones = ref();
const categorias = ref();
const seguidos = ref();


// CONSTANTES PARA IMPLEMENTAR SWAL
const swal = inject('$swal');

const dropdownIndex = ref(null);
const router = useRouter();
// CONSTANTES PARA IMPLEMENTAR COMENTARIOS
const nuevoComentario = ref('');
let inputComentario = ref([]);

onMounted(async () => {
    axios.get('/api/publicacions')
        .then(response => {
            publicaciones.value = response.data.reverse();
        });

    axios.get('/api/categorias')
        .then(response => {
            categorias.value = response.data;
        })

    axios.get(`/api/seguidores/${idUsuario}`)
        .then(response => {
            seguidos.value = response.data;
        })
});




// FUNCIÓN PARA IMPLEMENTAR LA LOGICA EN INICIO PARA QUE SOLO SE VEAN LAS PUBLIS DE LOS USUARIOS QUE SIGUE
function esSeguido(idSeguido) {
    if (seguidos.value) {
        return seguidos.value.some(seguidor => seguidor.idSeguido === idSeguido);
    }
    return false;
}

// FUNCION PARA VER SI EN INICIO HAY PUBLICACIONES QUE SE PUEDAN VER
function tienePublicacionesVisibles() {
    if (publicaciones.value) {
        return this.publicaciones.some(publi => publi.idUsuario === this.idUsuario || this.esSeguido(publi.idUsuario));

    }
}

// FUNCION PARA OBTENER EL NOMBRE DE LA CATEGORIA SEGUN EL ID
function getCategoryName(id) {
    if (categorias.value) {
        const category = categorias.value.find(categoria => categoria.id === id);
        return category ? category.nombreCategoria : '';
    }
    return '';
}

// FUNCION PARA DAR ME GUSTA A LAS PUBLICACIONES Y CONTROLAR QUE SOLO SE PUEDA 1 POR PUBLICACION
async function darMegusta(idPublicacion) {
    const publi = publicaciones.value.find(publicacion => publicacion.id === idPublicacion);
    if (!publi) {
        console.error('No se encontró la publicación con id ' + idPublicacion);
        return;
    }
    const like = publi.megusta.find(megusta => megusta.pivot.idUsuario === idUsuario);
    if (like) {
        const response = await axios.delete(`/api/publicacions/${idPublicacion}/megustas/${idUsuario}`);
        if (response.data.success) {
            const index = publi.megusta.findIndex(megusta => megusta.pivot.idUsuario === idUsuario);
            publi.megusta.splice(index, 1);
        }
    } else {
        const response = await axios.post(`/api/publicacions/${idPublicacion}/megustas/${idUsuario}`);
        if (response.data.success) {
            publi.megusta.push({ pivot: { idUsuario: idUsuario, idPublicacion: idPublicacion } });
        }
    }
}

// FUNCIÓN QUE COMPRUEBA SI EL USUARIO YA HA DADO LIKE A LA PUBLICACIÓN
function haDadoMegusta(publi) {
    return publi.megusta.some(megusta => megusta.pivot.idUsuario === idUsuario);
}

// FUNCION PARA ESCRIBIR UN COMENTARIO EN LA PUBLICACION
async function publicarComentario(idPublicacion) {
    const comentario = nuevoComentario.value;
    try {
        const response = await axios.post(`/api/publicacions/${idPublicacion}/comentarios/${idUsuario}/${comentario}`);
        if (response.data.success) {
            const publicacion = publicaciones.value.find(publi => publi.id === idPublicacion);
            if (publicacion) {
                publicacion.comentarios.unshift(response.data.data);
            }
            nuevoComentario.value = '';
        }
    } catch (error) {
        console.error('Error al publicar el comentario:', error);
    }
}

// FUNCION IMPLEMENTADA PARA QUE LA DAR CLICK EN EL ICONO DE COMENTARIO SE ACTIVE EL INPUT DE COMENTARIO
function focusInput(index) {
    if (inputComentario.value[index]) {
        inputComentario.value[index].focus();
    }
}

// FUNCION PARA MOSTRAR LOS DETALLES DE LA PUBLICAICON MAS CONTROLAR  QUE SE SUMEN LOS PUNTOS Y SE ALMACENE EL CLIC PARA CONTROLAR QUE NO SE SUMEN MUCHOS PUNTOS
async function detallesPubli(publi) {

    if (publi.clics.length === 0) {
        await axios.post('/api/clics', {
            idUsuario: idUsuario,
            idPublicacion: publi.id
        });
    }

    let productDetails = '';
    for (let producto of publi.productos) {
        productDetails += `<strong>Nombre del producto:</strong> ${producto.nombreProducto}<br>`;
        productDetails += `<strong>Link del producto:</strong> <a href="${producto.linkProducto}">${producto.linkProducto}</a><br><br>`;
    }

    await swal({
        title: 'Detalles publicación',
        html: productDetails,
    });
}

// FUNCION DEL DESPLEGABLE DE LAS ACCIONES EDITAR Y ELIMINAR PUBLICACION
const abrirDesplegable = (index) => {
    dropdownIndex.value = dropdownIndex.value === index ? null : index;
}

//FUNCION PARA EDITAR LA PUBLICACION 
const updatePubli = (id, index) => {
    axios.get('/api/productos/' + id)
    .then(response => {
        const productos = response.data;
        console.log('productos' + productos.value);
        swal({
            title: 'Editar publicación',
            html:
            productos.map((producto, i) =>
                '<label class="swal2-label">Categoria<label/>' +
                `<select id="swal-input1-${i}" class="swal2-input">` +
                categorias.value.map(categoria => `<option value="${categoria.id}" ${producto.idCategoria === categoria.id ? 'selected' : ''}>${categoria.nombreCategoria}</option>`).join('') +
                '</select>' +
                '<label class="swal2-label">Nombre Producto<label/>' +
                `<input id="swal-input2-${i}" class="swal2-input" placeholder="Producto" value="${producto.nombreProducto}">` +
                '<label class="swal2-label">Link del Producto<label/><br>' +
                `<input id="swal-input3-${i}" class="swal2-input" placeholder="Enlace" value="${producto.linkProducto}">` +
                '<label class="swal2-label">Valoración<label/><br>' +
                `<select id="swal-input4-${i}" class="swal2-input">` +
                Array.from({length: 5}, (_, i) => i + 1).map(valor => `<option value="${valor}" ${producto.pivot && producto.pivot.valoracion === valor ? 'selected' : ''}>${valor}</option>`).join('') +
                '</select>'
            ).join(''),
            focusConfirm: false,
            preConfirm: () => {
                return productos.map((_, i) => ({
                    idCategoria: document.getElementById(`swal-input1-${i}`).value,
                    nombreProducto: document.getElementById(`swal-input2-${i}`).value,
                    linkProducto: document.getElementById(`swal-input3-${i}`).value,
                    valoracion: document.getElementById(`swal-input4-${i}`).value,
                    idPublicacion: id
                }));
            }
        }).then(result => {
            if (result.isConfirmed) {
                const updatedData = {
                    productos: result.value
                };
                updatedData.productos.forEach((producto, i) => {
                    axios.put('/api/productos/update/' + productos[i].id, producto)
                    .then(response => {
                        let updatedPublications = [...publicaciones.value];
                        updatedPublications[index].productos[i] = { ...updatedPublications[index].productos[i], ...response.data.data };
                        publicaciones.value = updatedPublications;

                        swal({
                        title: '¡Publicación actualizada correctamente!',
                        text: 'Se recargará la página en breve.',
                        icon: 'success',
                        confirmButtonText: 'Aceptar',
                        timer: 5000,
                        timerProgressBar: true,
                        }).then((result) => {
                        if (result.isConfirmed || result.dismiss === swal.DismissReason.timer) {
                            swal.close();
                            router.go(0);
                        }
                        });
                    }).catch(error => {
                        swal({
                            icon: 'error',
                            title: 'No se ha podido actualizar el producto'
                        });
                    });
                });
            }
        });
    });
};

// FUNCION PARA ELIMINAR LA PUBLICACION
const deletePubli = (id, index) => {
    swal({
        title: 'Quieres eliminar la publicación?',
        text: 'Esta acción no es reversible!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sí, eliminar',
        confirmButtonColor: '#ef4444',
        timer: 20000,
        timerProgressBar: true,
        reverseButtons: true
    })
        .then(result => {
            if (result.isConfirmed) {
                axios.delete('/api/publicacions/' + id)
                    .then(response => {
                        publicaciones.value.splice(index, 1)
                        swal({
                            icon: 'success',
                            title: 'Publicación eliminada correctamente'
                        })
                    }).catch(error => {
                        swal({
                            icon: 'error',
                            title: 'No se ha podido eliminar la publicación'
                        })
                    });
            }
        })
}

</script>

<style src="resources\css\inicio.css"></style>
