<template>
  <ul class="layout-menu" :class="{ 'ocultar': blur }">
    <div class="welcome-message">
      <h1>¡Bienvenido a SocialFashion!</h1>
      <div class="notification-intro"> 
        <p>¡Crea tu cuenta y disfruta de las nuevas tendencias!</p>
      </div>
    </div>
    <app-menu-item></app-menu-item>
  </ul>
</template>


<script setup>
import { defineProps } from 'vue';
import AppMenuItem from './AppMenuItem.vue';

const props = defineProps({
  blur: Boolean
});

</script>


<style lang="scss" scoped>
.ocultar {
  filter: blur(10px);
}

.welcome-message {
  padding: 10px;
  text-align: center;
  margin-top: 20px;

  h1 {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 5px 5px 10px #a652f5;
    margin-bottom: 50px;
  }

  .notification-intro {
    background-color: #4e4e4e79;
    margin-top: 60px;
    padding: 10px;
    border-radius: 5px;
  }

  p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin: 0;
  }
}
</style>