<template>
    <ul class="layout-menu" :class="{ 'ocultar': blur }">
      <div class="welcome-message">
        <h1>¡Bienvenido a SocialFashion!</h1>
        <h2>NOTIFICACIONES</h2> <!-- Nuevo título -->
        <div class="notification-intro"> <!-- Nuevo rectángulo con texto introductorio -->
          <p>¿No tienes notificaciónes? ¡Publica tu mejor prenda y consigue puntos para obtener más seguidores!</p>
        </div>
      </div>
      <app-menu-item></app-menu-item>
    </ul>
  </template>

<script setup>
import { defineProps } from 'vue';
import AppMenuItem from './AppMenuItem.vue';

const props = defineProps({
  blur: Boolean
});


</script>


<style lang="scss" scoped>
.ocultar {
  filter: blur(10px);
}

.welcome-message {
  padding: 10px;
  text-align: center;
  margin-top: 20px;

  h1 {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 5px 5px 10px #a652f5;
    margin-bottom: 10px;
  }

  h2 {
    color: #fff;
    font-size: 15px; 
    margin-top: 30px; 
    margin-bottom: 0; 
    text-align: left;
    font-weight: bold; 
  }

  .notification-intro {
    background-color: #57575742; 
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }

  p {
    text-align: left;
    color: #fff;
    font-size: 12px;
    margin: 0; 
  }
}


</style>