<template>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <div class="layout-topbar d-flex align-items-center justify-content-between">
        <!-- En el HTML -->
        <div class="d-flex align-items-center col-2">
            <router-link to="/user/inicio" class="layout-topbar-logo">
                <img src="/images/logo.svg" alt="logo" />
                <span></span>
            </router-link>
            <!-- El display:none hace que no se vea el hamburger menu, para movil activarlo style="display: none;" -->
        </div>

        <div class="d-flex align-items-center flex-grow-1 col-8" style="justify-content: center;">
            <hr class="vertical-line" />
            <router-link :to="{ name: 'admin.index' }" class="layout-topbar-button-menu mx-2">
                <i class="fas fa-user icon"></i>
                <span class="text">PanelAdmin</span>
            </router-link>
            <hr class="vertical-line" />
        </div>
        <div class="layout-topbar-button col-2" :class="topbarMenuClasses"
            style="align-content: end; flex-wrap: wrap; padding-right: 0px;">
            <span class="text dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <img :src="getUserImage()" alt="Imagen de perfil" class="profile-image"
                    style="margin: 7px 0px !important; width: 50px !important; height: 50px !important; border-radius: 25px !important; object-fit: cover !important;">
                <span class="username">{{ user.name }}</span>
            </span>

            <ul class="dropdown-menu dropdown-menu-end border-0 shadow-sm" @click.stop>
                <li>
                    <router-link :to="{ name: 'profile.index' }" class="dropdown-item">Perfil</router-link>
                </li>
                <li>
                    <a class="dropdown-item" :class="{ 'opacity-25': processing }" :disabled="processing"
                        href="javascript:void(0)" @click="logout">Cerrar sessión</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script setup>
import { ref, computed } from 'vue';
import { useLayout } from '../composables/layout';
import { useStore } from 'vuex';
import useAuth from "@/composables/auth";

const { onMenuToggle } = useLayout();
const store = useStore();
const user = computed(() => store.state.auth.user)
const { processing, logout } = useAuth();

const topbarMenuActive = ref(false);


const topbarMenuClasses = computed(() => {
    return {
        'layout-topbar-menu-mobile-active': topbarMenuActive.value
    };
});

const getUserImage = () => {
    // Verificar si el usuario tiene una imagen de perfil
    if (user.value.foto) {
        return user.value.foto; // Devolver la imagen del usuario si existe
    } else {
        return '/images/userDefecto4.png'; // Devolver la imagen por defecto si el usuario no tiene imagen
    }
}
</script>

<style src="resources\css\header.css"></style>
