<template>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <div class="layout-topbar d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <router-link to="/login" class="layout-topbar-logo">
                <img src="/images/logo.svg" alt="logo" />
                <span></span>
            </router-link>

            <!-- El display:none hace que no se vea el hamburger menu, para movil activarlo     style="display: none;" -->
            <button class="p-link layout-menu-button layout-topbar-button" @click="onMenuToggle()">
                <i class="pi pi-bars"></i>
            </button>
        </div>

        <!-- Botones centrados -->
        <div class="d-flex justify-content-center align-items-center flex-grow-1">
            <router-link :to="{ name: 'auth.login' }" class="layout-topbar-button-menu mx-2">
                <i class="fas fa-home icon"></i>
                <span class="text">Inicio</span>
            </router-link>
            <hr class="vertical-line" />
            <router-link :to="{ name: 'auth.login' }" class="router-link-active router-link-exact-active layout-topbar-button-menu mx-2">
                <i class="fas fa-search icon"></i>
                <span class="text">Explorar</span>
            </router-link>
            <hr class="vertical-line" />
            <router-link :to="{ name: 'auth.login' }" class="layout-topbar-button-menu mx-2">
                <i class="fas fa-plus icon"></i>
                <span class="text">Crear</span>
            </router-link>
        </div>




        <div class="layout-topbar-button" :class="topbarMenuClasses">
            <!-- <button class="p-link layout-topbar-button-c nav-item dropdown" role="button" data-bs-toggle="dropdown"> -->

            <span class="text dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <img src="images/userDefecto4.png" alt="Imagen de perfil" class="profile-image">
                Guest
            </span>
            <ul class="dropdown-menu dropdown-menu-end border-0 shadow-sm" @click.stop>
                <!-- Añadido '@click.stop' para prevenir el comportamiento predeterminado del evento de clic -->
                <li>
                    <router-link :to="{ name: 'profile.index' }" class="dropdown-item">Perfil</router-link>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" :class="{ 'opacity-25': processing }" :disabled="processing"
                        href="javascript:void(0)" @click="logout">Cerrar sessión</a>
                </li>
            </ul>
            <!-- </button>-->
        </div>

    </div>
</template>

<script setup>
import { ref, computed, onMounted, onBeforeUnmount } from 'vue';
import { useLayout } from '../composables/layout';
import { useStore } from 'vuex';
import useAuth from "@/composables/auth";

const { onMenuToggle } = useLayout();
const store = useStore();
const user = computed(() => store.state.auth.user)
const { processing, logout } = useAuth();

const topbarMenuActive = ref(false);


const topbarMenuClasses = computed(() => {
    return {
        'layout-topbar-menu-mobile-active': topbarMenuActive.value
    };
});
</script>


<style src="resources\css\header.css"></style>
