<template>
    <div class="layout-wrapper" :class="containerClass">
        <app-topbar></app-topbar>
        <div class="layout-sidebar">
            <app-sidebar></app-sidebar>
        </div>

        <div class="layout-main-container ">
            <div class="layout-main" style="display: flex; justify-content: center;">
                <Suspense>
                    <router-view></router-view>
                </Suspense>
            </div>
            <app-footer></app-footer>
        </div>
        <!--app-config></app-config-->
        <div class="layout-mask"></div>
    </div>
</template>

<!--template>
    <AdminNavbar />
    <div class="d-flex align-items-stretch w-100">
        <AdminSidebar />
        <div class="container-fluid">
            <Breadcrumb class="row justify-content-center mt-4" :crumbs="crumbs" @selected="selected" />
             <h2 class="fw-semibold">
                {{ crumbs }}
            </h2>
                 <div class="main mx-2">
                <Suspense>
                <router-view></router-view>
                </Suspense>
            </div>
        </div>
    </div>
</template-->

<script setup>
import { computed, watch, ref } from 'vue';
import { useRoute } from "vue-router";
import AppTopbar from './InvitadoTopbar.vue';
import AppFooter from './AppFooter.vue';
import AppSidebar from './AppSidebarGuest.vue';
import { useLayout } from '../composables/layout';

const route = useRoute();

const { layoutConfig, layoutState, isSidebarActive } = useLayout();

const outsideClickListener = ref(null);

watch(isSidebarActive, (newVal) => {
    if (newVal) {
        bindOutsideClickListener();
    } else {
        unbindOutsideClickListener();
    }
});

const containerClass = computed(() => {
    return {
        'layout-theme-light': layoutConfig.darkTheme.value === 'light',
        'layout-theme-dark': layoutConfig.darkTheme.value === 'dark',
        'layout-overlay': layoutConfig.menuMode.value === 'overlay',
        'layout-static': layoutConfig.menuMode.value === 'static',
        'layout-static-inactive': layoutState.staticMenuDesktopInactive.value && layoutConfig.menuMode.value === 'static',
        'layout-overlay-active': layoutState.overlayMenuActive.value,
        'layout-mobile-active': layoutState.staticMenuMobileActive.value,
        'p-input-filled': layoutConfig.inputStyle.value === 'filled',
        'p-ripple-disabled': !layoutConfig.ripple.value
    };
});
const bindOutsideClickListener = () => {
    if (!outsideClickListener.value) {
        outsideClickListener.value = (event) => {
            if (isOutsideClicked(event)) {
                layoutState.overlayMenuActive.value = false;
                layoutState.staticMenuMobileActive.value = false;
                layoutState.menuHoverActive.value = false;
            }
        };
        document.addEventListener('click', outsideClickListener.value);
    }
};
const unbindOutsideClickListener = () => {
    if (outsideClickListener.value) {
        document.removeEventListener('click', outsideClickListener);
        outsideClickListener.value = null;
    }
};
const isOutsideClicked = (event) => {
    const sidebarEl = document.querySelector('.layout-sidebar');
    const topbarEl = document.querySelector('.layout-menu-button');

    return !(sidebarEl.isSameNode(event.target) || sidebarEl.contains(event.target) || topbarEl.isSameNode(event.target) || topbarEl.contains(event.target));
};
</script>

<style lang="scss" scoped>
.p-breadcrumb .p-breadcrumb-list {
    margin: 0 !important;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

ol {
    margin: 0 !important;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
</style>
