<template>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <div class="layout-topbar d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <router-link to="/user/inicio" class="layout-topbar-logo">
                <img src="/images/logo.svg" alt="logo" />
                <span></span>
            </router-link>

            <!-- El display:none hace que no se vea el hamburger menu, para movil activarlo -->
            <button class="p-link layout-menu-button layout-topbar-button"
                @click="onMenuToggle()">
                <i class="pi pi-bars"></i>
            </button>
        </div>

        <!-- Botones centrados -->
        <div class="d-flex justify-content-center align-items-center flex-grow-1 hiddenItems">
            <router-link :to="{ name: 'inicio.index' }" class="layout-topbar-button-menu mx-2">
                <i class="fas fa-home icon"></i>
                <span class="text">Inicio</span>
            </router-link>
            <hr class="vertical-line" />
            <router-link :to="{ name: 'explorar.index' }" class="layout-topbar-button-menu mx-2">
                <i class="fas fa-search icon"></i>
                <span class="text">Explorar</span>
            </router-link>
            <hr class="vertical-line" />
            <router-link :to="{ name: 'inicio.create' }" class="layout-topbar-button-menu mx-2">
                <i class="fas fa-plus icon"></i>
                <span class="text">Crear</span>
            </router-link>
        </div>
        <div class="d-flex justify-content-end">
            <template v-if="!user?.name">
                <router-link class="layout-topbar-button-menu layout-topbar-button-menu-right mx-2" to="/login">
                    <span class="session">Iniciar sesión</span>
                </router-link>
                <router-link class="layout-topbar-button-menu layout-topbar-button-menu-right mx-2" to="/register">
                    <span class="session">Registrar</span>
                </router-link>
            </template>
        </div>
    </div>
</template>

<script setup>
import { ref, computed, onMounted, onBeforeUnmount } from 'vue';
import { useLayout } from '../composables/layout';
import { useStore } from 'vuex';
import useAuth from "@/composables/auth";

const { onMenuToggle } = useLayout();
const store = useStore();
const user = computed(() => store.state.auth.user)
const { processing, logout } = useAuth();

const topbarMenuActive = ref(false);

const onTopBarMenuButton = () => {
    topbarMenuActive.value = !topbarMenuActive.value;
};

const topbarMenuClasses = computed(() => {
    return {
        'layout-topbar-menu-mobile-active': topbarMenuActive.value
    };
});
</script>


<style src="resources\css\headerGuest.css"></style>
